
    /*xs*/
    @media(max-width:575px){
      .carousel-inner{
        width:100%;
        height: 840px !important;
      }
    }

    /*sm*/
    @media(min-width:576px) and (max-width:767px){
      .carousel-inner{
        width:100%;
        height: 840px !important;
      }
    }

    /*md*/
    @media(min-width:768px) and (max-width:991px){
      .carousel-inner{
        width:100%;
        height: 840px !important;
      }
    }

    /*lg*/
    @media(min-width:992px) and (max-width:1199px){
      .carousel-inner{
        width:100%;
        height: 450px !important;
      }
    }

    @media(min-width:1200px){
      .carousel-inner{
        width:100%;
        height: 450px !important;
      }
    }

    .carousel-indicators li {
      background-color: black;
    }

    .carousel-control-prev,
    .carousel-control-next{
      bottom: 45%;
    }

    .carousel-control-next-icon:after
    {
      content: '>';
      color: black;
    }

    .carousel-control-prev-icon:after
    {
      content: '<';
      color: black;
    }

    .navbar-custom {
      color: white;
      background-color: white;
    }

    .con {
      width: 80%;
      /* height: 50%; */
      margin-left: auto;
      margin-right: auto;
    }

    .navbar-brand {
      font-family: 'Comfortaa', cursive;
    }

    p {
      font-size: 16pt;
    }

    li, h3, h2, p {
      font-family: 'Dosis', sans-serif;
    }
